@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding: 9.2rem;
}

.rate {
    display: grid;
    grid-template-areas: "intro star" "opinion opinion" "footer footer";
    grid-template-columns: repeat(2, 1fr);
}

.introduction {
    grid-area: intro;
    padding: 3.6rem;
}

.introduction__title {
    color: hsl(300, 43%, 22%);
    font-size: 4rem;
}

.introduction__description {
    color: hsl(303, 10%, 53%);
    font-size: 1.5rem;
}

.stars {
    grid-area: star;
    display: flex;
    flex-direction: column;
    padding-top: 3.6rem;
}

.stars__rate {
    background: hsl(300, 24%, 96%);
    margin: 1rem;
}

.stars__rate {
    background-color: hsl(300, 24%, 96%);
    padding: 1.2em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 1em;
    width: 80%;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.rateOne {
    align-self: flex-start;
}

.rateTwo {
    align-self: center;
}

.rateThree {
    align-self: flex-end;
    margin-bottom: 0em;
}

.rate__subject {
    color: hsl(300, 43%, 22%);
    padding-left: 1rem;
}

.opinions {
    grid-area: opinion;
    display: flex;
}

.opinions__opinion {
    background: hsl(300, 43%, 22%);
    margin: 1rem;
    border-radius: 10px;
    padding: 2.8rem;
    height: 80%;
    font-size: 16px;
}

.opinionOne {
    margin-top: 0;
}

.opinionTwo {
    margin-top: 2rem;
}

.opinionThree {
    margin-top: 4rem;
}

.opinion__image {
    border-radius: 50%;
    width: 13%;
}

.detail__name {
    color: hsl(300, 24%, 96%);
}

.detail__verification {
    color: hsl(333, 80%, 67%);
}

.opinion__description {
    color: hsl(300, 24%, 96%)
}

.attribution {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

@media (max-width: 425px) {
    body {
        background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
        background-position: top left, bottom right;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        width: 100vw;
        display: block;
    }
    .rate {
        display: block;
    }
    .introduction {
        text-align: center;
        padding-bottom: 1rem;
    }
    .introduction__title {
        color: hsl(300, 43%, 22%);
        font-size: 2rem;
    }
    .introduction__description {
        color: hsl(303, 10%, 53%);
        font-size: 1.2rem;
    }
    .stars {
        display: block;
        padding-top: 0;
        width: 100%;
    }

    .stars__rate {
        display: block;
        text-align: center;
        width: 92vw;
    }

    .opinions {
        display: block;
        
    }
    .opinions__opinion {
        padding: 1.5rem;
        margin: 1rem;
    }
}