* {
    box-sizing: border-box;
    margin: 0;
}

body {
  background-image: url(/images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  margin: 60px 30px;
}

@media (max-width: 375px) {
  .introduction {
    text-align: center;
  }

  .introduction__tittle {
    color: hsl(300, 43%, 22%);
  }

  .introduction__subtitle {
    color: hsl(303, 10%, 53%);
  }

  .opinions {
    text-align: center;
    color: hsl(300, 43%, 22%);
  }

  .wrapper {
    margin-bottom: 40px;
  }

  .opinions__opinion {
    margin: 20px;
    background: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 2px;
  }

  .opinion__rate {
    margin: 20px;
  }

  .persone__image {
    width: 15%;
  }

  .persone__details {
    
    margin-left: 12px;
  }

  .image__avatar {
    border-radius: 50%;
    width: 100%;
  }


  .rates__rate {
    background: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
  }

  .details__veryfication {
    color: hsl(333, 80%, 67%);
  }

  .rate__persone {
      display: flex;
      
  }
}
